.flex-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-conteiner > div {
  width: 100;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
    width: 10;
    background-color: antiquewhite;
}